  name: Develop

  on:
    push:
      branches:
        - main
  # Here the environment variable is declared in workflow level
  env:
    # Replace with your Orchestrator Values
    PROJECT_NAME: GitCheckinTestCode
    PROJECT_FOLDER: C:\SelfHostedAgent\actions-runner\_work\UipathCICD\UipathCICD\GitCheckinTestCode
    ORCH_URL: https://cloud.uipath.com/sumitoaejirs
    ORCH_TENANT: DefaultTenant
    ORCH_CLIENT_ID: 8DEv1AMNXczW3y4U15LL3jYf62jK93n5
    ORCH_USER_KEY: IXebtwdy_cVV1B0XbXPpn_Sdt_u7Ileszydjte2g55lpr
    ORCH_ACC_NAME: shuklasam555@gmail.com

  jobs:
    print-details:
      runs-on: self-hosted
      steps:
        - name: echo-default-env-variables
          run: |
            echo "Home: ${HOME}"
            echo "GITHUB_WORKFLOW: ${GITHUB_WORKFLOW}"
            echo "GITHUB_ACTIONS: ${GITHUB_ACTIONS}"
            echo "GITHUB_ACTOR: ${GITHUB_ACTOR}"
            echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
            echo "GITHUB_EVENT_NAME: ${GITHUB_EVENT_NAME}"
            echo "GITHUB_WORKSPACE: ${GITHUB_WORKSPACE}"
            echo "GITHUB_SHA: ${GITHUB_SHA}"
            echo "GITHUB_REF: ${GITHUB_REF}"
    cleaner:
      runs-on: self-hosted
      steps:
        - name: Runner workspace path
          run: |
            echo "Cleaning up previous runs"
            echo "uipath.github.action"

    build-uipath-nuget-package:
      # You should be able to run on windows 2019 or windows latest
      needs: cleaner
      runs-on: self-hosted
      steps:
        - name: Check out repository code
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          uses: actions/checkout@v2
        - name: Build Nuget Package
          run: C:\SelfHostedAgent\actions-runner\_work\UipathCICD\UipathCICD\GitCheckinTestCode\scripts\UiPathPack.ps1 C:\SelfHostedAgent\actions-runner\_work\UipathCICD\UipathCICD\GitCheckinTestCode\project.json -destination_folder C:\SelfHostedAgent\actions-runner\_work\UipathCICD\UipathCICD\GitCheckinTestCode\package
          shell: pwsh
        - name: Upload UiPath Artifacts
          uses: actions/upload-artifact@v2
          with:
            name: Artifacts
            path: C:\SelfHostedAgent\actions-runner\_work\UipathCICD\UipathCICD\GitCheckinTestCode\package
            package: /*.nupkg
            scripts: UiPathPack.ps1
    publish-uipath-nuget-package:
      needs: build-uipath-nuget-package
      runs-on: self-hosted
      steps:
        - name: Download UiPath Artifacts
          uses: actions/download-artifact@v2
          with:
            name: Artifacts
        - name: Publish Nuget Package to DEV
          shell: pwsh
          run: ${{ github.workspace }}\GitCheckinTestCode\scripts\UiPathDeploy.ps1 ${{ github.workspace }}\GitCheckinTestCode\package\gitcheckintestcode.1.0.0.nupkg ${{env.ORCH_URL}} ${{env.ORCH_TENANT}} -UserKey IXebtwdy_cVV1B0XbXPpn_Sdt_u7Ileszydjte2g55lpr -account_name shuklasam555@gmail.com

